
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500&display=swap');

* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f5f2;
    color: #232323;
}

body {
  padding: 2rem 0 0 0;
  background: none;
}



  textarea {
    text-align: left;
  }

.card {
  padding: 0; 
  display: flex;
  align-self: center;
  box-shadow: 0 20px 13px rgb(0 0 0/0.03), 0 8px 5px rgb(0 0 0/0.08);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffd803;
}

.card-header h3 {
  margin: 0;
}

.card-header i {
  display: block;
  font-size: 1.5rem;
  color: ´#232323;
  font-weight: 600;
}

.card-body {
  padding: 1rem;
}

.card-preview {
  min-height: 100%;
}

.card-preview img {
  max-width: 100%;
}

.card-preview pre {
  background: #e3f6f5;
  padding: 1rem;
}

#text {
  font-family: 'Edu QLD Beginner', cursive;
  font-size: 2rem;
  line-height: 1.3;
}

#author {
  font-family: 'Edu QLD Beginner', cursive;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 300;
  text-align: right;
}

.card-footer {
  background: none;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 1rem 0;
  box-sizing: content-box;
}

.card-link.social {
  height: 100%;
  font-size: 42px;
  margin-top: -11px;
  margin-left: 0;
  margin-right: 1rem;
  display: inline-block;
}

.card-footer .btn  {
  height: 38px;
  display: flex;
}
