/*---------------- RESET ----------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*---------------- RESET ----------------*/

:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

    --background: #fff;
    --background-dark: #333754;
    --text-primary: #333754;
    --text-secondary: #6B7289;
    --text-reversed: #FFFFFF;
    --accent: #3BC1FF;
    --border: #E9ECF0;
}


body{
    color: var(--text-primary);
    background-color: var(--background);
}

section  {
    width: 90vw;
    margin: 0 auto;
    padding: 4rem;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
}

section.dark {
    color: var(--text-reversed);
    background-color: var(--background-dark);
}

/*---------------- TYPOGRAPHY ----------------*/

.display-1, .display-2, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    
}


.display-1 {
    font-size: 6rem;
    line-height: 1.2;
}

.display-2 {
    font-size: 5rem;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
    line-height: 1.3;
}

h2 {
    font-size: 3rem;
    line-height: 1.3;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.3;
}

h4 {
    font-size: 2rem;
    line-height: 1.3;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.3;
}

h6 {
    font-size: 1rem;
    line-height: 1.3;
}

p {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-primary);
}

/*---------------- BUTTON ----------------*/

button {
    padding: 1.25rem 4rem;
    background-color: var(--accent);
    color: var(--text-primary);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 0 0 var(--background-dark);

}

/*---------------- HERO ----------------*/

.hero {
    /* background-image: url('./images/row.svg');
    background-repeat: no-repeat;
    background-size: contain;*/
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 4rem;
}

.hero p {
    font-size: 2rem;
    color: var(--text-secondary);
}

/*---------------- NUMBERS ----------------*/

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: top;
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
}

.numbers h2 {
    color: #FEA96C;
    font-size: 4rem;
}

/*---------------- CONTACT ----------------*/

.contact {
    background-image: url('./images/contact-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
    background-color: #3BC1FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 2rem;
    color: var(--text-primary);
}

.contact label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.contact input, .contact select, .contact textarea {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border: 2px solid var(--border);
    padding : 1rem;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact input:active,
.contact input:focus,
.contact input:hover,
.contact input:focus-within,
.contact input:focus-visible,
.contact select:active,
.contact select:focus,
.contact select:hover,
.contact select:focus-within,
.contact select:focus-visible,
.contact textarea:active,
.contact textarea:focus,
.contact textarea:hover,
.contact textarea:focus-within,
.contact textarea:focus-visible
 {
    border: 2px solid var(--accent)!important;
    box-shadow: none;
    background-color: transparent;
    outline: none;
}